
<p>Hello, <%= @email %></p>

<form action="/listings/new" method='get'>
  <input type="submit" value='List a Space'>
</form>

<ul>
  <% @listings.each do |listing| %>
    <li>
      <p><%= listing.name %></p>
      <p><%= listing.description %></p>
      <p><%= listing.price %></p>
    </li>
  <% end %>
<ul>
