<html class="listingsbg">
<div class="pageheading"><h1>List a Space</h1></div>

<div class="registerforms">
<form action="/listings" method="post">
  <h6><label for='name'>Name</label></h6>
  <input type="text" name="name" id="name">
  <h6><label for='description'>Description</label></h6>
  <input type="text" name="description" id="description">
  <h6><label for='price'>Price per night ($)</label></h6>
  <input type="text" name="price" id='price'>
  <h6><label for='from'>Available from (DD/MM/YY)</label></h6>
  <input type="date" name="from" id='from'>
  <h6><label for='to'>Available to (DD/MM/YY)</label></h6>
  <input type="date" name="to" id='to'><br><br>
  <input type="submit" value='List my Space'><br><br>
</form>
</html>


