<h1>List a Space</h1>

<form action="/listings" method="post">
  <label for='name'>Name</label>
  <input type="text" name="name" id="name">
  <label for='description'>Description</label>
  <input type="text" name="description" id="description">
  <label for='price'>Price per night ($)</label>
  <input type="text" name="price" id='price'>
  <label for='from'>Available from (DD/MM/YY)</label>
  <input type="date" name="from" id='from'>
  <label for='to'>Available to (DD/MM/YY)</label>
  <input type="date" name="to" id='to'>
  <input type="submit" value='List my Space'>
</form>


