.loginbg {
  background-image: url("/images/background10.jpg");
  background-color: #f9bc67;
  background-size: 100vw 100vh;
  background-position: top;
  position: relative;
}

.listingprofilebg {
  background-image: url("/images/background16.jpg");
  background-color: #f9bc67;
  background-size: 100vw 100vh;
  background-position: top;
  position: relative;
}

.login2bg {
  background-image: url("/images/background18.jpg");
  background-color: #f9bc67;
  background-size: 100vw 100vh;
  background-position: top;
  position: relative;
}

.listingsbg {
  background-image: url("/images/background21.jpg");
  background-color: #f9bc67;
  background-color: #f9bc67;
  background-size: 100vw 100vh;
  background-position: top;
  position: relative;
}

.bookingsbg {
  background-image: url("/images/background22.jpg");
  background-color: #f9bc67;
  background-color: #f9bc67;
  background-size: 100vw 100vh;
  background-position: top;
  position: relative;
}

.navigation_items {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  font-weight: bold;
}

.navigation_items li {
  float: right;
  display: block;
  text-align: center;
  padding: 12px 9px;
  text-decoration: none;
}

.navigation_items li a {
  display: block;
  text-align: center;
  padding: 12px 9px;
  text-decoration: none;
}

.navigation_items a {
  display: block;
  text-align: center;
  padding: 12px 9px;
  text-decoration: none;
}

.buttons form {
  display: flex;
  padding: 12px 9px;
}

.backgroundimage {
  background-image: url("./images/homepagebackground.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo img {
  float: left;
  max-width: 333px;
}

.heroimage img {
  max-width: 800px;
}

.displaylist {
  list-style-type: disk;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 3px;
  overflow: hidden;
  font-weight: bold;
  display: inline-block;
  max-width: 500px;
}

.displaylist li {
  display: inline-block;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-align: center;
  padding: 5px 9px;
  text-decoration: none;
}

.displaylist li a {
  display: inline-block;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-align: center;
  padding: 5px 9px;
  text-decoration: bold;
}

.displaylist a {
  display: inline-block;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-align: center;
  padding: 5px 9px;
  text-decoration: bold;
}

.pageheading h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageheading h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pageheading p {
  display: flex;
  justify-content: center;
}





.listings {
  display: flex;
  justify-content: center;
}

.registerforms {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 2px 2px;
  font-size: 19px;
  font-family: CircularL;
}

.registerforms input[type=text], input[type=password], input[type=date], input[type=email] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 7px;
  border: #f7dea1;
  box-sizing: border-box;
  border: none;
  color: #676767;
  font-size: 19px;
  font-family: CircularL;
}

.registerforms input[type=button], input[type=submit], input[type=reset] {
  background-color: #2f1b00;
  border: none;
  border-radius: 7px;
  font-size: 19px;
  font-family: CircularL;
  letter-spacing: 2px;
  color: #f7dea1;
  padding: 13px 19px; 
  margin: 1px 1px;
  cursor: pointer;
}



@font-face { font-family: CircularLL; font-weight: lighter; src: url('fonts/circularstd-book.ttf'); }
@font-face { font-family: CircularL; font-weight: lighter; src: url('fonts/circularstd-medium.ttf'); } 
@font-face { font-family: Circular; src: url('fonts/circularstd-bold.ttf');}
@font-face { font-family: CircularB; font-weight: bolder; src: url('fonts/circularstd-black.ttf');}

h1 { font-family: CircularB; font-size: 45px; color: #2f1b00;}
h2 { font-family: Circular; font-size: 43px; color: #2f1b00;}
h3 { font-family: CircularB; font-size:30px; color: #2f1b00; line-height: 0px;}
h4 { font-family: CircularL; font-size: 21px; color: #2f1b00; letter-spacing: 1px; line-height: 0px;}
h5 { font-family: CircularB; font-size: 15px; color: #2f1b00;}
h6 { font-family: CircularLL; font-size: 13px; color: #9b845e; letter-spacing: 4px; line-height: 0px;
  margin-bottom: 1.25em;
}
p { font-family: CircularLL; font-size: 19px; color: #2f1b00;}

a:link{
	color: #2f1b00;}

a:visited{
	color: #2f1b00;}

a:hover {color:#673a00;}

  .signupform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 2px 2px;
    margin-bottom: 1em;
    font-size: 19px;
    font-family: CircularL;
  }
  
  .signupform input[type=text], input[type=email] input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 7px;
    border: #f7dea1;
    box-sizing: border-box;
    border: none;
    color: #676767;
    font-size: 19px;
    font-family: CircularL;
  }
  
  .signupform input[type=button], input[type=submit], input[type=reset] {
    background-color: #2f1b00;
    border: none;
    border-radius: 7px;
    font-size: 19px;
    font-family: CircularL;
    letter-spacing: 2px;
    color: #f7dea1;
    padding: 13px 19px; 
    margin: 1px 1px;
    cursor: pointer;
  }

  .registerforms2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 2px 2px;
    margin-bottom: 1em;
    font-size: 19px;
    font-family: CircularL;
    margin-left: 10%;
  }
  
  .registerforms2 input[type=text], input[type=password], input[type=email] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 7px;
    border: #f7dea1;
    box-sizing: border-box;
    border: none;
    color: #676767;
    font-size: 19px;
    font-family: CircularL;
  }
  
  .registerforms2 input[type=button], input[type=submit], input[type=reset] {
    background-color: #2f1b00;
    border: none;
    border-radius: 7px;
    font-size: 19px;
    font-family: CircularL;
    letter-spacing: 2px;
    color: #f7dea1;
    padding: 13px 19px; 
    margin: 1px 1px;
    cursor: pointer;
    
  }

  .pageheading2 h1 {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 10%;
  }

  .pageheading2 p {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 10%;
  }

.leftcolumn {
  justify-content: left;
    align-items: left;
    margin-left: 10%;
}

hr.rounded {
  border-top: 5px solid #a3763b;
  border-radius: 4px;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  float: center;
  max-width: 55%;
  margin-left: 0%;
}

hr.thin {
  border-top: 2px solid #a3763b;
  border-radius: 2px;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  float: center;
  max-width: 30%;
  margin-left: 0%;
}

  #listings {
    display:inline;      
}

  #displaylist {
      display: inline;
  }

  .centrebutton {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 0px;
  }

  .registerforms3 {
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    margin: 2px 2px;
    font-size: 19px;
    font-family: CircularL;
    min-width: 100%;
  }
  
  .registerforms3 input[type=text], input[type=date] {
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 7px;
    border: #f7dea1;
    box-sizing: border-box;
    border: none;
    color: #676767;
    font-size: 19px;
    font-family: CircularL;
    align-content: center;
    width: 80%;
  }
  
  .registerforms3 input[type=button], input[type=submit], input[type=reset] {
    background-color: #2f1b00;
    border: none;
    border-radius: 7px;
    font-size: 19px;
    font-family: CircularL;
    letter-spacing: 2px;
    color: #f7dea1;
    padding: 13px 19px; 
    margin: 1px 1px;
    cursor: pointer;
  }

  input:focus {
    outline:none;
}

a:visited, a:link, a:active
{
    text-decoration: none;
}