<html class="login2bg"><br><br><br><div class="pageheading">
    <h1>Sign into hot potato</h1>
  </div>

  <div class="registerforms">
    <form action="/sessions" method='post'>
      <label for="email"><h6>EMAIL ADDRESS</h6></label>
      <input type="text" name='email'><br>
      <label for="password"><h6>PASSWORD</h6></label>
      <input type="password" name='password'><br>
      <h4><input type="submit" value='Submit'></h4>
    </form>
  </div>
</html>