<html class="loginbg">
  <br><br><div class="pageheading2">
    <h1>Piping hot properties at <br>your fingertips.</h1>
  </div>
  <div class="pageheading2">
  <p>Join us for free today</p>
  </div>
  <div class="registerforms2">
    <form action="/users" method='post'>
      <label for="email"><h6>EMAIL ADDRESS</h6></label>
      <input type="email" name='email' required><br>
      <label for="password"><h6>PASSWORD</h6></label>
      <input type="password" name='password' required><br>
      <h4><input type="submit" value='Submit'></h4>
    </form>
  </div>
  </div>
</html>